In [2]:
import pandas as pd

# 열(Series) 생성

In [3]:
s = pd.Series([1, 3, 5])
s

0    1
1    3
2    5
dtype: int64

In [4]:
df = pd.DataFrame({"x1":[1,2,3], "x2":[11,22,33], "x3":[111,222,333]}, index=["i1","i2","i3"]) 
df

    x1  x2   x3
i1   1  11  111
i2   2  22  222
i3   3  33  333

In [8]:
test_data1 = {'col0': [1, 2, 3, 4],
            'col1': [10, 20, 30, 40],
            'col2': [100, 200, 300, 400]}

test_df1 = pd.DataFrame(test_data1)
print(test_df1)

   col0  col1  col2
0     1    10   100
1     2    20   200
2     3    30   300
3     4    40   400